.sectionBottom{
  margin:50px 0px;
  
}
.sectionBottom:after{
  content: "";
    /* position: absolute; */
    background: url(/images/line2.png);
    /* background-color: red; */
    /* background: red; */
    /* top:-50px;
    left:90%;
    right: -30%; */
    /* background: red; */
    display: block;
    width: 350px;
    margin:50px auto;
    height: 2px;
    background-repeat: repeat-x;
    /* transform: rotate(90deg); */
}
.socialContainer{
  display: flex;
  gap:10px;
  justify-content: center;
  margin: 0px auto;
}
.socialContainer a svg{
  color:var(--golden);
  font-size:30px;
}
.slogan{
  display: block;
  margin: 10px auto;
  text-align: center;
  font-size:22px;
  color: var(--black);
  font-weight: 400;
}
.logo{
  width: 112px;
  display: block;
  height: auto;
  margin: 10px auto;
}