.header {
    height: 770px;
    position: relative;
    padding-top: 130px;
    text-align: center;
}

.overlay {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    height: 770px;
    width: 100%;
}

.overlay video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.overlay img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: relative;
    z-index: 3;
}

.logoContainer img {
    width: 300px;
    height: auto;
}

.headerTitle {
    font-size: 40px;
    font-weight: 400;
    margin: 15px 0px 30px 0px;
    color: var(--sweety-cream);
    letter-spacing: -1px;
}

.headerHighlight {
    font-size: 25px;
    font-weight: 400;
    color: var(--sweety-cream);
    background: var(--golden);
    border-radius: 100px;
    padding: 0px 15px;
    margin: 30px auto;

    width: fit-content;
    display: block;
}

.slogan {
    font-size: 19px;
    margin: 15px 0px;
}

.row {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.firstRow {
    flex: 7 7;
}

.secondRow {
    flex: 1 1;
    align-items: flex-end;
    justify-content: flex-end;
}
@media (max-width:992px) {
        .header{
            height: auto;
            padding-top: 0px;
        }
}